---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Tentang AppAppID"
	pubDate={new Date('18 Nov 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		AppAppID merupakan nama branding dan usaha saya (Ardi) untuk jasa pembuatan "App", saya berpengalaman dalam pembuatan web (mostly) untuk pendukung berbagai bisnis UMKM 
	</p>

	
</Layout>
