---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<section
			class="text-gray-600 body-font"
			style="background-color: #DDD6FE;"
		>
			<div
				class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
			>
				<div
					class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
				>
					<h1
						class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
					>
						Kami buatkan Anda website woocommerce
						<br class="hidden lg:inline-block" />yang <strong
							>benar</strong
						> cocok untuk bisnis Anda
					</h1>
					<p class="mb-8 leading-relaxed">
						Optimalkan fitur toko online dengan plugin khusus,
						otomasi, dan pengalaman belanja modern.
					</p>
					<div class="flex justify-center">
						<a
							href="#features"
							class="inline-flex text-white bg-[#8B5CF6] border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
							>Ok, saya mau!</a
						>
						<button
							class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
							>Langsung kontak admin</button
						>
					</div>
				</div>
				<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
					<img
						class="object-cover object-center rounded"
						alt="hero"
						src="/hero-image.png"
					/>
				</div>
			</div>
		</section>
		<section class="text-gray-600 body-font">
			<div class="container px-5 py-24 mx-auto">
				<div class="text-center mb-20">
					<h1
						class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
					>
						Apa Yang Dibutuhkan Website Woocommerce Anda Supaya Sesuai Dengan Bisnis? 
					</h1>
					<p
						class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"
					>
						Lebih cepat dan efektif untuk menjadi E-Commerce yang handal untuk konsumen anda!
					</p>
					<div class="flex mt-6 justify-center">
						<div
							class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"
						>
						</div>
					</div>
				</div>
				<div
					class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
				>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-computer-icon lucide-computer"><rect width="14" height="8" x="5" y="2" rx="2"/><rect width="20" height="8" x="2" y="14" rx="2"/><path d="M6 18h2"/><path d="M12 18h6"/></svg>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Banyak Pilihan Payment
							</h2>
							<p class="leading-relaxed text-base">
								Konsumen modern banyak yang malas transfer uang dari bank atau ATM, bahkan beberapa hanya punya e-wallet, jika gak ada pilihan payment yang mereka punya, kemungkinan besar pembayaran dibatalkan konsumen! <em>Ugh!</em>
							</p>
							<a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a>
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned-icon lucide-map-pinned"><path d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"/><circle cx="12" cy="8" r="2"/><path d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"/></svg>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Lacak Pesanan<br>
								&nbsp;
							</h2>
							<p class="leading-relaxed text-base">
								Pelanggan ingin tau kapan pesanan akan datang! Mau kapan sih kamu biarkan konsumen bertanya-tanya?<em>kapankah si Dia(tukang paket) datang??</em>
							</p>
							<a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a>
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-workflow-icon lucide-workflow"><rect width="8" height="8" x="3" y="3" rx="2"/><path d="M7 11v4a2 2 0 0 0 2 2h4"/><rect width="8" height="8" x="13" y="13" rx="2"/></svg>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Serba Otomatis, Serba Cepat
							</h2>
							<p class="leading-relaxed text-base">
								Otomatis proses pesanan setelah konsumen membayar, jangan biarkan konsumen anda menunggu setelah mereka bayar lalu minta refund, <em>Ugh!!</em>
							</p>
							<a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								
							</a>
						</div>
					</div>
				</div>
				<button
					class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
					>Button</button
				>
			</div>
		</section>
		<main>
			<h1 class="text-sm">🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a>
				blog starter template. This template serves as a lightweight, minimally-styled
				starting point for anyone looking to build a personal website, blog,
				or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured
				in your
				<code>astro.config.mjs</code> file. You can customize your setup
				with
				<a href="https://astro.build/integrations">Astro Integrations</a
				> to add tools like Tailwind, React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>
					Edit the site header items in <code
						>src/components/Header.astro</code
					>
				</li>
				<li>
					Add your name to the footer in <code
						>src/components/Footer.astro</code
					>
				</li>
				<li>
					Check out the included blog posts in <code
						>src/content/blog/</code
					>
				</li>
				<li>
					Customize the blog post page layout in <code
						>src/layouts/BlogPost.astro</code
					>
				</li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a
					href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a
				> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check
				out <a href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
