---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatsappButton from "../components/WhatsappButton.jsx";
import EmailButton from "../components/EmailButton.jsx";
import FastworkButton from "../components/FastworkButton.jsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { GoogleAnalytics } from 'astro-google-analytics';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<GoogleAnalytics id="G-CC5PWQ3HGF" />
	</head>
	<body class="scroll-smooth">
		<Header />
		<section
			class="text-gray-600 body-font"
			style="background-color: #DDD6FE;"
		>
			<div
				class="container mx-auto flex px-5 lg:py-24 py-12 md:flex-row flex-col items-center"
			>
				<div
					class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
				>
					<h1
						class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
					>
						Kami buatkan Anda website woocommerce
						<br class="hidden lg:inline-block" />yang <strong
							>benar</strong
						> cocok untuk bisnis Anda
					</h1>
					<p class="mb-8 leading-relaxed">
						Optimalkan fitur toko online dengan plugin khusus,
						otomasi, dan pengalaman belanja modern.
					</p>
					<div class="flex justify-center">
						<a
							href="#features"
							class="inline-flex text-white bg-[#8B5CF6] border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
							>Ok, saya mau!</a
						>
						<a
							href="#contact"
							class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
							>Langsung kontak admin</a
						>
					</div>
				</div>
				<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
					<img
						class="object-cover object-center rounded"
						alt="hero"
						src="/hero-image.webp"
					/>
				</div>
			</div>
		</section>
		<section class="text-gray-600 body-font">
			<div class="container px-5 lg:py-24 py-12 mx-auto">
				<div class="text-center mb-20">
					<h1
						id="features"
						class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
					>
						Apa Yang Dibutuhkan Website Woocommerce Anda Supaya
						Sesuai Dengan Bisnis?
					</h1>
					<p
						class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"
					>
						Lebih cepat dan efektif untuk menjadi E-Commerce yang
						handal untuk konsumen anda!
					</p>
					<div class="flex mt-6 justify-center">
						<div
							class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"
						>
						</div>
					</div>
				</div>
				<div
					class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
				>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-computer-icon lucide-computer"
								><rect width="14" height="8" x="5" y="2" rx="2"
								></rect><rect
									width="20"
									height="8"
									x="2"
									y="14"
									rx="2"></rect><path d="M6 18h2"></path><path
									d="M12 18h6"></path></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Banyak Pilihan Payment
							</h2>
							<p class="leading-relaxed text-base">
								Konsumen modern banyak yang malas transfer uang
								dari bank atau ATM, bahkan beberapa hanya punya
								e-wallet, jika gak ada pilihan payment yang
								mereka punya, kemungkinan besar pembayaran
								dibatalkan konsumen! <em>Ugh!</em>
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a> -->
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-map-pinned-icon lucide-map-pinned"
								><path
									d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
								></path><circle cx="12" cy="8" r="2"
								></circle><path
									d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
								></path></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Lacak Pesanan<br />
								&nbsp;
							</h2>
							<p class="leading-relaxed text-base">
								Pelanggan ingin tau kapan pesanan akan datang!
								Mau kapan sih kamu biarkan konsumen
								bertanya-tanya?<em
									>kapankah si Dia(tukang paket) datang??</em
								>
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a> -->
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-workflow-icon lucide-workflow"
								><rect width="8" height="8" x="3" y="3" rx="2"
								></rect><path d="M7 11v4a2 2 0 0 0 2 2h4"
								></path><rect
									width="8"
									height="8"
									x="13"
									y="13"
									rx="2"></rect></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Serba Otomatis, Serba Cepat
							</h2>
							<p class="leading-relaxed text-base">
								Otomatis proses pesanan setelah konsumen
								membayar, jangan biarkan konsumen anda menunggu
								setelah mereka bayar lalu minta refund, <em
									>Ugh!!</em
								>
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
							</a> -->
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-server-icon lucide-server"
								><rect
									width="20"
									height="8"
									x="2"
									y="2"
									rx="2"
									ry="2"></rect><rect
									width="20"
									height="8"
									x="2"
									y="14"
									rx="2"
									ry="2"></rect><line
									x1="6"
									x2="6.01"
									y1="6"
									y2="6"></line><line
									x1="6"
									x2="6.01"
									y1="18"
									y2="18"></line></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Server Hosting Cepat & Stabil
							</h2>
							<p class="leading-relaxed text-base">
								Ok terakhir tapi <strong class="uppercase"
									>sangat penting</strong
								> adalah server hosting berkualitas, supaya konsumen
								tidak kabur sebelum mengkases toko online Anda
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="text-gray-600 body-font">
			<div class="container px-5 lg:py-24 py-12 mx-auto">
				<div class="text-center mb-20">
					<h1
						id="features"
						class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
					>
						Layanan Kami
					</h1>
					<p
						class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"
					>
						Ok, jadi jasa apa yang kami punya?
					</p>
					<div class="flex mt-6 justify-center">
						<div
							class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"
						>
						</div>
					</div>
				</div>
				<div
					class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
				>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-computer-icon lucide-computer"
								><rect width="14" height="8" x="5" y="2" rx="2"
								></rect><rect
									width="20"
									height="8"
									x="2"
									y="14"
									rx="2"></rect><path d="M6 18h2"></path><path
									d="M12 18h6"></path></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Pembuatan Plugin Wordpress
							</h2>
							<p class="leading-relaxed text-base">
								Anda punya solusi yang perlu ditambah ke website
								Wordpress/Woocommerce Anda? Kami bisa bantu
								integrasikan solusi anda dengan cara membuat
								plugin custom
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a> -->
						</div>
					</div>
					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-refresh-ccw-dot-icon lucide-refresh-ccw-dot"
								><path
									d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"
								></path><path d="M3 3v5h5"></path><path
									d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"
								></path><path d="M16 16h5v5"></path><circle
									cx="12"
									cy="12"
									r="1"></circle></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Migrasi & Upgrade Server Wordpress
							</h2>
							<p class="leading-relaxed text-base">
								Perlu jasa pemindahan website
								Wordpress/Woocommerce ke server baru? karena
								server anda lemot? kami juga bisa bantu dari
								mulai konsultasi, manage server, installasi dan
								backup website anda dengan Aman
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a> -->
						</div>
					</div>

					<div
						class="p-4 md:w-1/3 flex flex-col text-center items-center"
					>
						<div
							class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="36"
								height="36"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-wrench-icon lucide-wrench"
								><path
									d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.106-3.105c.32-.322.863-.22.983.218a6 6 0 0 1-8.259 7.057l-7.91 7.91a1 1 0 0 1-2.999-3l7.91-7.91a6 6 0 0 1 7.057-8.259c.438.12.54.662.219.984z"
								></path></svg
							>
						</div>
						<div class="flex-grow">
							<h2
								class="text-gray-900 text-lg title-font font-medium mb-3"
							>
								Pemeliharaan Website Wordpress/Woocommerce
							</h2>
							<p class="leading-relaxed text-base">
								Anda tidak punya admin website untuk memelihara
								website anda? kami juga bisa bantu jagain
								website anda ya
							</p>
							<!-- <a
								class="mt-3 text-indigo-500 inline-flex items-center"
								>Learn More
								<svg
									fill="none"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									class="w-4 h-4 ml-2"
									viewBox="0 0 24 24"
								>
									<path d="M5 12h14M12 5l7 7-7 7"></path>
								</svg>
							</a> -->
						</div>
					</div>
				</div>
			</div>
			<section class="body-font bg-[#a467c1]">
				<div
					class="container px-5 lg:py-24 py-12 mx-auto flex items-center md:flex-row flex-col"
				>
					<div
						class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto md:text-left text-center text-white"
					>
						<h2
							id="contact"
							class="text-4xl text-white tracking-widest font-medium title-font mb-1"
						>
							KONSULTASI DULU?
						</h2>
						<h1
							class="text-2xl font-medium title-font text-gray-900"
						>
							Silahkan! Gratis kok
						</h1>
					</div>
					<div
						class="flex md:ml-auto md:mr-0 mx-auto items-center flex-col md:flex-row space-x-4 gap-4 flex-wrap"
					>
						<WhatsappButton client:load />
						<EmailButton client:load />
						<FastworkButton client:load />
					</div>
				</div>
			</section>
			<div
				id="turnstile-overlay"
				style="
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
"
			>
				<div class="text-xl text-center w-full">
					<p>
						Mohon tunggu, sedang memverikasi permintaaan Anda, hanya
						memastikan bahwa anda bukan robot.
					</p>
				</div>
				<div id="turnstile-widget"></div>
			</div>

			<Footer />
			<script
				src="https://challenges.cloudflare.com/turnstile/v0/api.js"
				async
				defer></script>

			<script is:inline>
				const SITE_KEY = "0x4AAAAAACC07i0DwnwMHmqp"; // public key

				// cek existing token
				const existing = localStorage.getItem("cf-turnstile");
				if (existing) {
					document.getElementById("turnstile-overlay").style.display =
						"none";
				}

				window.onload = () => {
					turnstile.render("#turnstile-widget", {
						sitekey: SITE_KEY,
						callback: function (token) {
							localStorage.setItem("cf-turnstile", token);
							document.getElementById(
								"turnstile-overlay",
							).style.display = "none";
						},
						"error-callback": function () {
							window.location.href = "/about";
						},
					});
				};
			</script>
		</section>

	</body>
</html>
